{% extends 'base_post.html' %}

{% block title %}Inicial{% endblock %}

{% block url %}#{% endblock %}

{% block postagem %}

  <h1 class="my-4">Postagens
    <small>Novidades</small>
  </h1>

  {% for post in posts %}
    <div class="card mb-4">
      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content }}</p>
        <a href="{% url 'post_detalhes' post.id %}" class="btn btn-primary">Ler mais &rarr;</a>
      </div>

      <div class="card-footer text-muted">
        {{ post.sub_title }}
      </div>
    </div>
  {% endfor %}

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>

    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

{% endblock %}